################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/Yaml2TypeScript/bin/*
/Yaml2TypeScript/obj/*
