<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GeneratedFilesOutputPath" value=""/>
    <add key="YamlIncludePathsPiped" value=""/>
    <add key="BaseItemClassName" value="CustomItem"/>
    <add key="BaseItemClassImportRelativePath" value="types/Base/Item.type.ts"/>
  </appSettings>
</configuration>